body {
    font-family: 'Arial', sans-serif;
}

#preview {
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#layer1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* This will ensure the image fits within the container without cropping */
    object-position: center;
}
